<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='./css/style.css'>
</head>

<body>
    <h1>{{>header}}</h1>
    <p>{{message}}</p>
    <h3>{{>footer}}</h3>
</body>

</html>